@use 'variables';
@use 'mixin';

.header {
  background-color: variables.$secondary-color;
  color: variables.$color-white;
  text-align: left;
  border-bottom: 1px solid variables.$color-black;
  margin: 1rem 0.5rem 0.5rem 0.5rem;
  padding: 0.5rem;
  @include mixin.boxShadows;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0.3rem 1rem;
  margin-bottom: 1rem;
  a {
    color: variables.$color-white;
    text-decoration: none;
  }

  &__title {
    font-size: 2rem;
    font-weight: bold;
    color: variables.$color-white;
  }
  &__breadcumbs {
    font-size: 0.8rem;
    color: variables.$color-white;
  }

  &__right {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1rem;
  }

  &__cart-count {
    font-size: 1rem;
    color: variables.$primary-color;
    margin-left: 0.5rem;
    background-color: variables.$color-white-background;
    padding: 0.3rem 0.5rem;
    font-weight: bold;
    @include mixin.boxShadows;
  }
}

@media screen and (max-width: 568px) {
  .header__cart-count {
    font-size: 0.8rem;
  }
}
