
@use 'variables';

.details-container{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    margin: 0.5rem 0;
    align-content: stretch;
    animation: fadeInAnimation ease 0.5s; ;

    
}


.actions__color-option, .actions__storage-option{
    cursor: pointer;
    background-color:variables.$secondary-color; ;
    border: solid 1px variables.$secondary-color;
    color:variables.$color-white;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}



@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@media screen and (max-width: 768px) {
    .details-container{
        flex-direction: column;
    }
    
}