@use 'variables';
@use 'mixin';

.search-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  margin: 0.5rem 0;
  align-content: stretch;
}
.search-title {
  font-size: 30px;
  color: variables.$color-black;
  text-align: right;
  margin-right: 0.5rem;
}
.search-placeholder {
  font-size: 1rem;
  padding: 0.3rem 0.5rem;
  color: variables.$color-black;
  text-align: right;
  min-width: 40%;
  align-self: flex-end;
  margin: 0.5rem 0.5rem 0.5rem 0;
  padding-right: 5%;
  border: solid 1px variables.$color-black;
  @include mixin.boxShadows;
  background: url(../assets/Search.png);
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: 95% 50%;
}

.search-placeholder:focus {
  background: none;
}

.search-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-items: center;
  margin: 0.5rem;
  padding: 0;
  @include mixin.boxShadows;
  background-color: variables.$color-white-background;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 768px) {
  .search-grid {
    grid-template-columns: repeat(auto-fit, minmax(152px, 1fr));
  }
}
